@import url(https://fonts.googleapis.com/css?family=Lato:100,200,300,400,700,900,300italic,700italic|Indie+Flower);

body {

	background-image: url("https://d1vhcvzji58n1j.cloudfront.net/assets/downloads/wallpapers/System76-Geometric-adapted_by_Kate_Hazen_of_System76-2f45657e84.png");
	background-attachment: fixed;
	padding: 5px;
	font-family: 'Lato';

}

#overlay {
	
	height: 100%;
	width: 90%;
	left: 5%;
	top: 0;
	position: fixed;
	background-color: rgba(255,255,255,0.85);

}

#header {
	
	position: relative;
	width: 90%;
	left: 5%;

}

#content {

	position: relative;
	left: 5%;
	width: 90%;
	padding: 5px;
	height: 100%;

}

#l-content {

	position: absolute;
	width: 45%;
	left: 2.5%;
	padding: 5px;

}

#r-content {

	position: absolute;
	width: 45%;
	left: 50%;
	padding: 5px;
	border-left: solid black 1px;

}

#a-content img {

	display: inline;
	width: 25%;

}
